@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	background: url(./images/bg1.svg);
	background-repeat: no-repeat;
    background-size:cover;
	font-family: 'Josefin Sans', sans-serif;
}
.screen {
	display: none;
}
.screen.active {
	display: block;
}
.app {
	display: flex;
	
	border: 4px solid #ffffff;
    border-radius: 2vh;
    margin: 4vh auto;
    width: 90vw;
    height: 90vh;
    box-shadow: 0px 0px 30px 10px rgba(69, 194, 167, 0.8);
}

.join-screen{
	width: 30%;
	
}

.join-screen .form {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.join-screen .form .form-input {
	margin: 10px 0px;
}

.join-screen .form button {
	cursor: pointer;
	color: #fff;
	border: none;
	outline: none;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-weight: 600;
	width: 150px;
	height: 150px;
	border-radius: 10px;
}
.join-screen .form #join-id label {
	color: #222;
	display: block;
	margin:10px 0px;
	text-align: center;
	font-weight: 900;
}
.join-screen .form #join-id span {
	display: inline-block;
	font-size: 25px;
	font-family: 'Josefin Sans', sans-serif;
	color: #111;
	padding: 10px;
	width: 150px;
	text-align: center;
	border: 1px solid #111;
	border-radius: 10px;
	margin-top: 5px;
}
.join-screen .form .form-input label {
	color: #222;
	font-size: 18px;
	font-weight: 900;
}
.join-screen .form .form-input input {
	display: block;
	margin:10px 0px;

	font-size: 25px;
	font-family: 'Josefin Sans', sans-serif;
	color: #111;
	padding: 10px;
	width: 150px;
	text-align: center;
	border: 1px solid #111;
	border-radius: 10px;
	
}

.fs-screen {
	padding: 20px;
	/* border: 1px solid green; */
	width: 70%;
}
.fs-screen .file-input {
	
	margin: auto;
	width:30%;
	border: 2px double #555;
	border-style: double;
	background: rgba(250, 250, 250, 0.8);
	box-shadow:0px 0px 10px 2px rgba(147, 147, 147, 0.5);
}
.fs-screen .file-input label {
	display: block;
	cursor: pointer;
	width: 100%;
	padding: 15px 20px;
	text-align: center;
	color: #3c1eb7;
	font-weight: 900;
	font-size: 20px;
}

.title{
	font-size: 25px;
}

.fs-screen .file-input label img{
	width: 50%;
}
.fs-screen .file-input input {
	display: none;
}
.fs-screen .files-list {
	
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	gap: 10px;
	padding: 2%;
	border: 1px solid #cdcdcd;
	box-shadow: 2px 2px 8px 2px rgba(147, 147, 147, 0.5);
	flex-wrap: wrap;
	max-height: 53vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.fs-screen .files-list::-webkit-scrollbar{
	width: 8px;
}


.fs-screen .files-list::-webkit-scrollbar-track{
	background: #f1f1f1; 
}


.fs-screen .files-list::-webkit-scrollbar-thumb{
	background: #555; 
}


.fs-screen .files-list .item {
	width: 45%;
	display: flex;
	border: 1px solid #cdcdcd;
	box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.05);
}

.fs-screen .files-list .item .filename {
	
	width: 85%;
	height: auto;
	word-wrap: break-word;
	padding: 5px;
	font-size: 18px;
	border-top: 1px solid #eee;
}
.fs-screen .files-list .item .progress {
	padding: 5px;
	text-align: center;
	font-size: 18px;
	border-top: 1px solid #eee;
	color: #222;
	font-family: 'Josefin Sans', sans-serif;
}

a:link, a:visited {
	cursor: pointer;
	background: #581845;
	padding-top: 60px;
	border: none;
	outline: none;
	font-size: 30px;
	font-weight: 600;
	width: 150px;
	height: 150px;
	border-radius: 10px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
  }
  @media (max-width: 836px){

	.app {
		display: flex;
		flex-direction: column;
	}	

	.join-screen{
		width: 100%;
	}

	.fs-screen{
		width: 100%;
	}

	.join-screen .form {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
  }

  @media (max-width: 577px){
	.fs-screen .files-list .item {
		width: 100%;
	}

	.title{
		font-size: 15px;
	}
  }