
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

.recieve-container{
    padding:12px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    border-radius: 6px;
    min-height: 25vh;
    width: fit-content;
    min-width: 300px;
    margin: 0px 20px;
    
}

.recieve-container img{
    cursor: pointer;
}

.otp-container{
    /* border: 1px solid green; */
    width: 90%;
    height: 40px;
    padding: 2px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.otp-digit{
    caret-color: transparent;
    background: rgba(42, 143, 187, 0.4);
    border-radius: 7px;
    padding-top: 4px;
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
    
    border: 1px solid #296d9b;
    text-align: center;
}

.otp-digit:valid{
    box-shadow: 0px 10px 10px -4px rgba(0,0,0,0.6);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.btns{
    /* border: 1px solid green; */
    width: 90%;
}





