.send-container{
    padding:12px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    border-radius: 6px;
    min-height: 25vh;
    width: fit-content;
    min-width: 300px;
    
    margin:0px 20px;
    
}

.send-container img{
    cursor: pointer;
}

.send-items{
    /* border: 1px solid blue; */
    border-radius: 4px;
    box-shadow: 0px 0px 20px 2px rgba(152, 152, 152, 0.5);
    height: 70%;
    min-height: 15vh;
    width: 90%;
    margin: auto;
    background: #fafafa;
}

.btns{
    /* border: 1px solid green; */
    width: 90%;
}

